--extra-index-url=https://download.pytorch.org/whl/rocm6.0
torch==2.3.1+rocm6.0
packaging
ninja
#flash-attn
git+https://github.com/ROCm/flash-attention@howiejay/navi_support
aiohttp
cachetools
ComfyUI-EasyNodes
deepdiff
einops
GitPython
huggingface-hub>0.20
kornia>=0.7.1
matplotlib
matrix-client==0.4.0
#non essential dependencies:
numpy
numpy<2
opencv-python-headless
piexif
Pillow
Pillow>=9.5.0
pip
psutil
py-cpuinfo>=9.0.0
PyGithub
pynvml
pyrsmi
pytest>=7.8.0
pyyaml
rich
safetensors>=0.4.2
scikit-image
scipy
scipy>=1.11.4
segment-anything
send2trash
sentencepiece
setuptools
soundfile
spandrel
tokenizers>=0.13.3
torch
torchaudio
torchsde
torchvision
tqdm
transformers
transformers>=4.28.1
typer
typing-extensions
ultralytics!=8.2.5
