--extra-index-url=https://download.pytorch.org/whl/nightly/rocm6.1
addict
aiohttp
albumentations
cachetools
#cuml-cu11
deepdiff
einops
filelock
ftfy
fvcore
GitPython
huggingface-hub>0.20
importlib_metadata
iopath
kornia>=0.7.1
matplotlib
matrix-client==0.4.0
mediapipe
numpy<2
omegaconf
opencv-python>=4.7.0.72
opencv-python-headless
piexif
Pillow>=9.5.0
psutil
py-cpuinfo>=9.0.0
PyGithub
pynvml
pyrsmi
pytest>=7.8.0
python-dateutil
pyyaml
rich
safetensors>=0.4.2
scikit-image
scikit-learn
scipy>=1.11.4
segment-anything
send2trash
sentencepiece
soundfile
spandrel
submitit
svglib
tokenizers>=0.13.3
torch==2.4.0.dev20240606+rocm6.1
torchaudio==2.2.0.dev20240606+rocm6.1
torchmetrics
torchsde
torchvision==0.19.0.dev20240606+rocm6.1
tqdm
transformers>=4.28.1
trimesh[easy]
typer
typing-extensions
ultralytics!=8.2.5
#xformers
yacs
yapf
setuptools
