torch==2.4.0.dev20240606+rocm6.1
torchvision==0.19.0.dev20240606+rocm6.1
torchaudio==2.2.0.dev20240606+rocm6.1
torchsde
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil

#non essential dependencies:
kornia>=0.7.1
spandrel
soundfile
